@import url('../../App.css');

/* ===== Login ===== */

.login {
    margin: 10rem auto auto;
    padding: 2rem 2rem;
    border-radius: 2rem;
    border: 2px solid #ccc;
    background: transparent;
    width: 400px;
}

.login h1 {
    font-weight: 900;
    margin: 0 0 2rem 0;
    text-align: center;
    color: var(--grisOscuro);
}

.login Form .field {
    margin-top: 1rem;
}

.login Form Button {
    margin-top: 10px;
}